%input-shared {
  width: 500px;
  height: 50px;
  border: none;
  border-bottom: 1px solid grey;
  background-color: #e5d8c200;
  font-size: 18px;
  color: grey;
}

.container {
  margin: auto;
  width: 1200px;
  background-image: url(../brown-paper-texture.jpg);
  background-size: cover;
  padding: 50px;
  box-shadow: -13px 5px 29px #313030;
}

.title {
  font-size: 25px;
  margin-bottom: 10px;
}

.wrapper {
  display: flex;
}

.step1,
.step2 {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.step1 input[type="text"],
.step2 input[type="text"] {
  @extend %input-shared;
  margin-bottom: 20px;
}

.step1 input[type="text"]:focus,
.step2 input[type="text"]:focus,
.step1 textarea:focus,
.step2 textarea:focus,
input[type="date"]:focus {
  outline: none;
  border-bottom: 4px solid #0075ff;
}

.step1 textarea,
.step2 textarea {
  @extend %input-shared;
  resize: none;
}

.checkboxes {
  display: flex;
  flex-direction: column;
}

.checkboxes div {
  font-size: 21px;
  color: grey;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

input[type="date"] {
  @extend %input-shared;
}

.description-step2 {
  margin-top: 50px;
}

.buttons {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.buttons button {
  width: 100px;
  height: 50px;
  font-size: 18px;
}

.send {
  background-color: green;
  color: white;
  cursor: pointer;
}
.send:hover {
  background-color: rgb(17, 73, 17);
}

.send:disabled {
  background-color: rgb(80, 167, 80);
}
.clear {
  background-color: black;
  color: white;
  cursor: pointer;
}
p {
  color: rgb(89, 88, 88);
  font-size: 16px;
}
.description-step1 {
  margin-top: 223px;
}

.ng-submitted input.ng-touched.ng-invalid {
  border: solid red 2px;
}

.ng-submitted input.ng-touched.ng-valid {
  border: solid green 2px;
}
.background {
  background-image: url(../depositphotos_13590178-stock-photo-stainless-steel-wrench-set.jpg);
  height: 100vh;
  padding-top: 70px;
  background-size: cover;
}
.error {
  position: relative;
  top: -17px;
  color: red;
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
  .background {
    padding-top: 150px;
    max-width: 1200px;
    min-width: 768px;
    height: 100vh;
    min-height: 1125px;
  }
  .container {
    margin: auto;
    min-width: 321px;
    max-width: 768px;
    padding: 0px;
    box-shadow: none;
  }
  .wrapper {
    display: block;
    padding: 14px 135px;
  }
  .title {
    text-align: center;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .background {
    height: 100px;
    min-width: 321px;
    max-width: 768px;
    background-image: none;
    padding: 0;
    height: 100vh;
    min-height: 1125px;
  }
  .container {
    margin: auto;
    min-width: 321px;
    max-width: 768px;
    padding: 80px 0px;
    box-shadow: none;
    min-height: 100%;
  }
  .wrapper {
    display: block;
    padding: 14px 135px;
  }
  .title {
    text-align: center;
  }
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .background {
    height: 100px;
    min-width: 321px;
    max-width: 768px;
    background-image: none;
    padding: 0;
    height: 100vh;
    min-height: 1125px;
  }
  .container {
    margin: auto;
    min-width: 321px;
    max-width: 768px;
    padding: 80px 0px;
    box-shadow: none;
    min-height: 100%;
  }
  .wrapper {
    display: block;
    padding: 14px 135px;
  }
  .title {
    text-align: center;
    font-size: 30px;
  }
  %input-shared {
    margin-bottom: 50px;
    height: 70px;
    font-size: 24px;
  }
  .checkboxes div {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .buttons button {
    width: 150px;
    height: 70px;
    font-size: 24px;
  }
  .buttons {
    width: 350px;
    margin-top: 70px;
  }
  
  
}
