* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[hidden] {
    display: none !important;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
    html,
    body {
        min-height: 100vh;
        height: auto;
        background-image: url(./brown-paper-texture.jpg);
        background-size: cover;

    }
}
